*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EEEDDE;
}

.header h2{
  color: #203239;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.header button{
  color: #EEEDDE;
  font-size: .9rem;
  background-color: #203239;
}

.header button:hover{
  color: #EEEDDE;
  background-color: #203239;
}
.header input{
  color: #203239;
  width: 35vh;
}


.todoContent{
  padding-top: 1.5rem;
  text-align: center;
  justify-content: center;
}

.todoContent .todo{
  background-color: #203239;
  padding: 1rem;
  color: #EEEDDE;
  border-radius: .5rem;
}

.todoContent button{
  color: #B33030;
  margin-left: 1rem; 
  padding: .5rem;
  border-radius: 0; 
}

.todoContent button:hover{
  background-color: #203239;
}


.noTodos-paragraph{
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  color: #222;
}